<?xml version="1.0" encoding="UTF-8"?>
<API>
    <UNDERTOW DISPLAY_ENDPOINTS="YES" IO_THREAD_POOL="20" WORKER_THREAD_POOL="40">
        <PORT REST="9010"/>
        <HOST REST="172.10.30.17"/>
        <BASE_PATH PORTAL="/portal" REST="/api/rest"/>
    </UNDERTOW>
    <DB>
        <HOST>localhost</HOST>
        <PORT>5432</PORT>
        <DATABASE_NAME TYPE="CLEARTEXT"/>
        <USERNAME TYPE="CLEARTEXT"/>
        <PASSWORD TYPE="CLEARTEXT"/>
        <SHOW_SQL>false</SHOW_SQL>
        <SLING_RING>
            <INITIAL_POOL_SIZE VALUE="10"/>
            <MAXIMUM_POOL_SIZE VALUE="40"/>
            <EXTRA_CONNS_SIZE VALUE="5"/>
            <FIND_FREE_CONN_AFTER TIME_UNIT="MILLISECONDS" VALUE="1500"/>
            <DOWNSIZE_AFTER TIME_UNIT="MINUTES" VALUE="2"/>
            <PING_AFTER TIME_UNIT="MINUTES" VALUE="60"/>
        </SLING_RING>
    </DB>
</API>